<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1><%= pageTitle %></h1>

    <h3><%= val %></h3>

    
    <img src="<%= pic %>" width="600px">

    <% if(user){ %>
        <h3>Hello world</h3>
    <% } %>

    <%= info.fName %>
    <%= info.lName %><br><br>

    <% cities.forEach(city => { %>
        <div><%= city %></div>
    <% }) %>
</body>
</html>